[Unit]
Description=Internet domain name server
After=network.target

[Service]
ExecStart=/usr/sbin/named -f -u named -t /srv/named -c /etc/named.conf
ExecReload=/usr/sbin/rndc reload
ExecStop=/usr/sbin/rndc stop

[Install]
WantedBy=multi-user.target
