[Unit]
Description=OpenLDAP server daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/slapd
ExecStart=/usr/sbin/slapd -u ldap -g ldap $SLAPD_OPTS

[Install]
WantedBy=multi-user.target
