[Unit]
Description=Samba AD Daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/defaults/samba
PIDFile=/var/run/samba.pid
ExecStart=/usr/bin/samba $SAMBA_OPTS
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

