# Begin /boot/grub/grub.cfg
set default=0
set timeout=5

insmod ext2
set root=SET_ROOT_MARKER

if loadfont unicode; then
  set gfxmode=auto
  insmod vbe
  insmod vga
  insmod gfxterm
  set locale_dir=/boot/grub/locale
  set lang=en_US
  insmod gettext
  terminal_output gfxterm

  insmod png
  background_image /grub/physix-splash.png
fi

menuentry "Physix GNU/Linux (systemd), Linux 5.4.41-physix" {
	linux /vmlinuz-5.4.47.physix.x86_64 root=/dev/mapper/VOL_GROUP_MARKER-root ro
	initrd /initrd-5.4.47.physix.x86_64
}

