[Unit]
Description=NFS Mount Daemon
Requires=proc-fs-nfsd.mount
After=proc-fs-nfsd.mount network.target
BindsTo=nfs-server.service

[Service]
Type=forking
EnvironmentFile=/etc/default/nfs-utils
ExecStart=/sbin/rpc.mountd $MOUNTD_OPTS
